{% extends 'base.html.twig' %}

{% block title %}Ajouter tache{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/user.css')}}">
{% endblock %}


{% block body %}

    <h1 class="text-center"> Ajouter une tâche au projet :  {{ project.name }} </h1>

    {{ form(addTaskForm) }}

{% endblock %}
